<footer>
    <div class="footerWrapper">
        <div class="logo">
            <p>Nodes Hotel</p>
            <p>Endereço a ser alterado, 999<br>
               (11)1111-1111<br>
               nodeshotel@gmail.com</p>
        </div>
        <div class="navFooter">
            <nav>
                <ul>
                    <li><a href="#">Sobre nós</a></li>
                    <li><a href="#">Contato</a></li>
                    <li><a href="#">Termos e condições</a></li>
                </ul>
            </nav>
        </div>    
        <div class="socialMedia">
            <nav>
                <ul>
                    <li><a href="#">facebook</a></li>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">Instagram</a></li> 
                </ul>
            </nav>
        </div>
        <div class="newsletter">
            <p>Assine a nossa Newsletter</p>
            <div class="newsletterInput">
                <form action="/" method="POST">
                <input type="email" name="userEmail" id="userEmail">
                <button type="submit">OK</button>
                </form>
            </div>
        </div>    
    </div>
</footer>