<footer>
    <div class="footerWrapper">
        <div class="container-footer">
            <div class="info-nodes">
                <h3>Nodes</h3>
                <h4>Hotels</h4>
                <div class="endereco">
                    <p>
                        Rua dos Milionários, 0<br>
                        (11) 2421-0102<br>
                        contato@nodeshotel.com.br
                    </p>
                </div>
            </div>
            <div class="links">
                <ul>
                    <li>
                        <a href="#">
                            Sobre Nós
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Contato
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Termos & Condições
                        </a>
                    </li>
                </ul>
            </div>
            <div class="social-icons">
                <ul>
                    <li>
                        <a href="https://www.facebook.com.br">
                            <img src="../images/icon-facebook.png" alt="Facebook"> Facebook
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com.br">
                            <img src="../images/icon-instagram.png" alt="Instagram">Instagram
                        </a>
                    </li>
                    <li>
                        <a href="https://www.twitter.com.br">
                            <img src="../images/icon-twitter.png" alt="Twitter">Twitter
                        </a>
                    </li>
                </ul>
            </div>
            <div class="newsletter">
                <form action="">
                    <label for="email">Inscreva-se para receber novidades!</label>
                    <div class="email">
                        <input type="email" name="email" id="email" placeholder="Email">
                        <button type="submit">OK</button>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
</footer>