</main>

<div class="container-fluid wc" style="background-color: #14274A">
    <footer class="row row-cols-3 py-5 mt-5 border-top">
        <div class="col-md wc">
            <a href="/" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
                <h4 class="wc">Nodes Hotel</h4>
            </a>
            <address>Rua dos Milionários, 0</address>
            <p class=""><a href="tel:+551121210102" class="text-light">(11) 2421-0102</a></p>
            <p><a href="mailto:contato@nodeshotel.com.br" class="text-light">contato@nodeshotel.com.br</a></p>
            <p class="text-muted">
                <a href="http://www.facebook.com"><i class="text-light bi bi-facebook ml-3"></i></a>
                <a href="https://www.instagram.com.br"><i class="text-light bi bi-instagram ml-3"></i></a>
                <a href="http://www.twitter.com"><i class="text-light bi bi-twitter ml-3"></i></a>
            </p>
            <p>© 2022</p>
        </div>
        <div class="col-sm"></div>
        <div class="col-md">
            <h5>Navegação</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="/" class="nav-link p-0 text-muted">Home</a></li>
                <li class="nav-item mb-2"><a href="reservas" class="nav-link p-0 text-muted">Reservas</a></li>
                <li class="nav-item mb-2"><a href="suites" class="nav-link p-0 text-muted">Suítes</a></li>
                <li class="nav-item mb-2"><a href="cadastrar" class="nav-link p-0 text-muted">Cadastrar</a></li>
                <li class="nav-item mb-2"><a href="contato" class="nav-link p-0 text-muted">Contato</a></li>    
                <form class="d-flex flex-column">
                    <p>Inscreva-se para receber novidades!</p>
                    <input class="form-control mb-2 me-2" type="email" placeholder="Digite seu e-mail" aria-label="Search">
                    <button class="btn btn-ligth" type="submit">Inscrever-se</button>
                </form>
            </ul>
        </div>
    </footer>
</div>
</body>