<footer>
    <div class="footerWrapper">
    <div>
        <nav class="navFooter">
            <ul>
                <li><a href="#">Sobre nós</a></li>
                <li><a href="#">Contato</a></li>
                <li><a href="#">Termos e condições</a></li>
            </ul>
        </nav>
    </div>
    <div class="socialMedia">       
            <ul>
                <li><a href="https://pt-br.facebook.com/"><img src="../images/face.png" alt="facebook"></a></li>
                <li><a href="https://www.instagram.com/"><img src="../images/insta.png" alt="instagram"></a></li>
                <li><a href="https://twitter.com/login?lang=pt"><img src="../images/twitter.png" alt="twitter"></a></li> 
            </ul>   
    </div>
    <div class="newsletter">
            <p>Assine a nossa Newsletter</p>
            <div class="newsletterInput">
                <form action="/" method="POST">
                <input type="email" name="userEmail" id="userEmail">
                <button type="submit">OK</button>
                </form>
            </div>
        </div>
    </div>
</footer>