<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nodes Hotel</title>
    <link rel="stylesheet" href="stylesheets/header.css" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&family=Playfair+Display:wght@400;500;700&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" href="stylesheets/footer.css" type="text/css"> -->
    <link rel="stylesheet" href="../stylesheets/style.css">
</head>
<body>
    <header>
        <div class="banner">
            <div class="logo">
                <h1>Nodes</h1>
                <h2>Hotels</h2>
            </div>
            <nav>
                <ul>
                    <a href="#">
                        <li>Home</li>
                    </a>
                    <a href="#">
                        <li>Reservas</li>
                    </a>
                    <a href="#">
                    <li>Suítes</li>
                    </a>
                    <a href="#">
                    <li>Contato</li>
                    </a>
                </ul>
            </nav>
            <div class="text-cta">
                <p>
                    Bem Vindo ao
                </p>
                <span class="text-principal">
                    Nodes<br>
                    Hotels
                </span>
                <span class="text-secundario">
                    Reserve a sua estadia e aproveite
                </span>
            </div>
        
            <button class="btn_cta">
                <img src="../images/book-now.svg" alt="">
                Reserve Agora</button>
        </div>
            
        
    </header>
</body>
</html>