<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nodes Hotel</title>
    <link rel="stylesheet" href="stylesheets/header.css" type="text/css">
    <link rel="stylesheet" href="stylesheets/footer.css" type="text/css">
</head>
<body>
    <header>
        <div class="banner">
            <div class="logo">
                <h1>Nodes</h1>
                <h2>Hotels</h2>
            </div>
            <nav>
                <ul>
                    <a href="#">
                        <li>Home</li>
                    </a>
                    <a href="#">
                        <li>Reservas</li>
                    </a>
                    <a href="#">
                    <li>Suítes</li>
                    </a>
                    <a href="#">
                    <li>Contato</li>
                    </a>
                </ul>
            </nav>
            <p class="text-cta">
                WELCOME TO <span class="first-paragraf">Luxury</span> 
                <span class="second-paragraf">Hotels</span>
                Book your stay and enjoy Luxury <br>
                redefined at the most affordable rates.
            </p>
            <button class="btn_cta">
                <img src="" alt="">
                Book Now</button>
        </div>
            
        
    </header>
</body>
</html>