<%- include("partials/header.ejs") %>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<div class="container py-5">
    <h1>Preencha o formulário e cadastre-se</h1>
    <div class="mb-3 d-flex ">
        <form action="/cadastrar/foto" method="POST" name='form2' id='form2' enctype="multipart/form-data">
            <label class="form-label" for="formFile">Carregue uma foto para o seu perfil</label>
            <input class="form-control" type="file" name="foto" id="formFile">
            <button class="btn my-3" type="submit" name="btn1" id="btn1">Upload</button>
        </form>
    </div>
    <% if(typeof(errors) != "undefined"){ %>
        <div class="warn">
            <ul>
                <% errors.forEach((errors)=>{ %>
                <p><%= errors.msg %> </p>
                <% }) %>
            </ul>
        </div>
    <% } %>
    <h2>Dados pessoais: </h2>
    <form action="/cadastrar" method ="POST" id ="form1" class="form-group w-50">
        <div class="dados">
            <input class="form-control my-3" type="text" name="nome" id="nome" placeholder="Nome Completo">
            <input class="form-control my-3" type="email" name="email" id="email" placeholder="E-mail" >
            <input class="form-control my-3" type="text" name="cpf" id="cpf" placeholder="CPF">
            <input class="form-control my-3" type="text" name="telefone" id="telefone" placeholder="(XX) XXXX-XXXX">
            <input class="form-control my-3" type="text" name="cep" id ="cep" placeholder="CEP" >
            <input class="form-control my-3" type="text" name="endereco" id="endereco" placeholder="Endereço" >
            <input class="form-control my-3" type="text" name="cidade" id ="cidade" placeholder="Cidade" >
            <input class="form-control my-3" type="text" name="uf" id ="uf" placeholder="UF" >
        </div>
        <div class="senhas">
            <input class="form-control" type="password" name="senha" id="senha" placeholder="senha de acesso" onchange="habilitar(), desabilitar()">
            <input class="form-control" type="password" name="confirmacao" id="confirmacao" placeholder="confirme a senha" onchange="habilitar(), desabilitar()">
            <div class="msg" id="msg" style="display:none">
                <p class="alert">SENHAS NÃO CONFEREM!</p>
            </div>
        </div>
    </form>
    <span class="botao">
        <button class="btn btn-success" type="submit" form="form1" id="botao" disabled>CADASTRAR</button><br>
    </span>
</div>

<script src="../javascript-front.js"></script>
<script type="text/javascript">
    $("#cep").focusout(function(){
        $.ajax({
            url: "https://viacep.com.br/ws/"+$(this).val()+"/json/unicode/",
            dataType: "json",
            success: function(resposta){
                $("#endereco").val(resposta.logradouro);
                $("#cidade").val(resposta.localidade);
                $("#uf").val(resposta.uf);
        }
    });
});</script>

</main>
<%- include("partials/footer.ejs") %>