<%- include("partials/header.ejs") %>
  <body>
    <div class="greetings">
   
    <p>Bem-vindo ao <%= title %></p>

  </div>

  <div class="block">
  
    <div class="presentation">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste, nobis quo exercitationem sunt accusantium porro voluptate dolore temporibus alias reprehenderit perspiciatis ab similique commodi assumenda,Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab ratione, mollitia vitae, dolor distinctio tenetur molestias harum sint nulla quam non unde, impedit sequi nemo nisi voluptatum illo animi praesentium Iste, nobis quo exercitationem sunt accusantium porro voluptate dolore temporibus alias reprehenderit perspiciatis ab similique commodi assumenda,Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab ratione, mollitia vitae, dolor distinctio tenetur molestias harum sint nulla quam non unde, impedit sequi nemo nisi voluptatum illo animi praesentium .</p>

  </div>
</div>

  </div class = "rooms">
   <div>
   <img class = 'foto1' src="../images/photo_1.jpg" alt="1">
  </div>
  <div>
    <img class =  'foto2' src="../images/photo_2.jpg" alt="2">
  </div>
   <div>
   <img class = 'foto3' src="../images/photo_3.jpg" alt="3">
  </div>
  <div>
   <img class = 'foto4' src="../images/photo_4.jpg" alt="4">

  </div>
</div>


  </body>




<%- include("partials/footer.ejs") %>
</html>
