<%- include("partials/header.ejs") %>

<body>
  <div class="greetings">
    <p>Todos os nossos tipos de quarto incluem café da manhã de cortesia</p>
  </div>

  <div class="block">
    <div class="presentation">
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit! Iste, nobis
        quo exercitationem sunt accusantium porro voluptate dolore temporibus
        alias reprehenderit perspiciatis ab similique commodi assumenda,Lorem
        ipsum dolor sit amet consectetur adipisicing elit. Ab ratione, mollitia
        vitae, dolor distinctio tenetur molestias harum sint nulla quam non
        unde, impedit sequi nemo nisi voluptatum illo animi praesentium Iste,
        nobis quo exercitationem sunt accusantium porro voluptate dolore
        temporibus alias reprehenderit perspiciatis ab similique commodi
        assumenda,Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab
        ratione, mollitia vitae, dolor distinctio tenetur molestias harum sint
        nulla quam non unde, impedit sequi nemo nisi voluptatum illo animi
        praesentium .
      </p>
    </div>
  </div>

  <div class="rooms">
    <div class="card">
      <div class="text-card">
        <h1>Luxury redefined</h1>
        <p>
          Our rooms are designed to transport you into an environment made for
          leisure. Take your mind off the day-to-day of home life and find a
          private paradise for yourself.
        </p>
        <button>Explore</button>
      </div>
      <img class="foto1" src="../images/photo_1.jpg" alt="1" />
    </div>
    <div class="card">
      <div class="text-card">
        <h1>Luxury redefined</h1>
        <p>
          Our rooms are designed to transport you into an environment made for
          leisure. Take your mind off the day-to-day of home life and find a
          private paradise for yourself.
        </p>
        <button>Explore</button>
      </div>
      <img class="foto1" src="../images/photo_2.jpg" alt="1" />
    </div>
    <div class="card">
      <div class="text-card">
        <h1>Luxury redefined</h1>
        <p>
          Our rooms are designed to transport you into an environment made for
          leisure. Take your mind off the day-to-day of home life and find a
          private paradise for yourself.
        </p>
        <button>Explore</button>
      </div>
      <img class="foto1" src="../images/photo_3.jpg" alt="1" />
    </div>
    <div class="card">
      <div class="text-card">
        <h1>Luxury redefined</h1>
        <p>
          Our rooms are designed to transport you into an environment made for
          leisure. Take your mind off the day-to-day of home life and find a
          private paradise for yourself.
        </p>
        <button>Explore</button>
      </div>
      <img class="foto1" src="../images/photo_4.jpg" alt="1" />
    </div>
  </div>
  <div class="depoimentos">
    <h3>
      Depoimento
    </h3>
    <blockquote>
      "Calm, Serene, Retro - What a way to relax and enjoy"
    </blockquote>
    <div class="botoes">
      <button><</button>
      <button>></button>
    </div>
  </div>

  <%- include("partials/footer.ejs") %>
</body>
