<%- include("partials/header-login.ejs") %>
    <style>
        main {
            background-image: url("../images/hotel-macutay.png");
            background-size: cover;
            min-height: 500px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>

    <div class="bg-light rounded p-4">
        <h1 class="text-dark">Login</h1>
        <form action="/logar" method= 'POST'>
            <input class="form-control my-2" type="email" name= "email" id = "email" placeholder="endereço de e-mail">
            <input class="form-control my-2" type="password" name ="senha" id="senha" placeholder="senha de acesso" >
            <button class="btn btn-success my-3" type="submit">Entrar</button>
        </form>
        <a href="./cadastrar"><button class="btn btn-ligth">Não tenho cadastro</button></a>
    </div>
<%- include("partials/footer.ejs") %>