<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/login_usuario.css' />
    <title>Document</title>
    <style>
        body {   background-image: url("../images/hotel-macutay.png");background-size: cover;}
         </style>
</head>
<body>


    </div>
    
    <span class = container>
        <h1>LOGIN</h1>
    <form action="/usuario/login" method= 'POST'>

   <input type="email" name= "email" id = "email" placeholder="email" autocomplete="off"><br><br>

   <input type="password" name = 'senha' id = 'senha' placeholder="Senha" autocomplete="off">
   <br><br><br>
   <button type="submit">Entrar</button>

    </form>
<br><br><br>
    <form name = 'button' id= 'button'>
        <a href="/cadastrar">
            <input type="button" value = 'Não tenho cadastro!'>
        </a>
     
    </form>
</span>
</body>
</html>