<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/login_usuario.css' />
    <title>Document</title>
    <style>
        body {   background-image: url("../images/hotel-macutay.png");background-size: cover;}
         </style>
</head>
<body>
    <a href="/">
        <img src="../images/home_1.png" alt="">
    </a>

    </div>
    
    <span class = container>
        <h1>LOGIN</h1>
    <form action="/logar" method= 'POST'>

   <input type="text" name= "user" id = "user" placeholder="nome de usuário" ><br><br>

   <input type="password" name = 'senha' id = 'senha' placeholder="senha de acesso" >
   <br><br><br>
   <button type="submit">Entrar</button>

    </form>
<br><br><br>
    <form name = 'button' id= 'button'>
        <a href="/cadastrar"> 
            <!-- esse botao acima é apenas um botao com link para acessar a pasta de cadastro. -->
            <input type="button" value = 'Não tenho cadastro!'>
        </a>
     
    </form>
</span>
</body>
</html>