<%- include("partials/header.ejs") %>

<div class="container">
<div class="dados_da_reserva">

<section class="title">
    <h2>DADOS DA RESERVA</h2>
</section>

<section class="dates">
    <p>CHECK-IN<input type="date" id="check_in" /></p>
    <p>CHECK-OUT<input type="date" id="check_out" /></p>
</section>
<br><br>
<section class="persons">
    <div>
        <label for="">nº de hóspedes</label>
        <select class='hospedes' name='hospedes' id='hospedes'>
        <option value="">----</option>
        <option value=1>1</option>
        <option value=2>2</option>
        <option value=3>3</option>
        <option value=4>4</option>
        <option value=5>5</option>
        </select>
   </div>
   <br><br>
    <div>
        <label for="">código da suíte</label>
        <select class='suites' name='suites' id='suites'>
        <option value="">----</option>
        <option value="S001">S001</option>
        <option value="S002">S002</option>
        <option value="S003">S003</option>
        <option value="S004">S004</option>
        <option value="S005">S005</option>
        <option value="S006">S006</option>
        <option value="S007">S007</option>
        <option value="S008">S008</option>
        </select>
   </div>

</section><br><br><br>
<section class="botao">
    <br><br><br>
<button>FINALIZAR RESERVA</button>

</section>
</div>



<div class="quartos">
<section>
    <img src="../images/photo_1.jpg">
    <label for="">SUÍTE CÓD S001</label>
    <br><br>
    <img src="../images/photo_2.jpg">
    <label for="">SUÍTE CÓD S002</label>

</section>

<section>
    <img src="../images/photo_3.jpg">
    <label for="">SUÍTE CÓD S003</label>
    <br><br>
    <img src="../images/photo_4.jpg">
    <label for="">SUÍTE CÓD S004</label>

</section>

<section>
    <img src="../images/photo_5.jpg">
    <label for="">SUÍTE CÓD S005</label>
    <br><br>
    <img src="../images/photo_6.jpg">
    <label for="">SUÍTE CÓD S006</label>

</section>

<section>
    <img src="../images/photo_7.jpg">
    <label for="">SUÍTE CÓD S007</label>
    <br><br>
    <img src="../images/photo_8.jpg">
    <label for="">SUÍTE CÓD S008</label>

</section>

</div>





</div>  

<%- include("partials/footer.ejs") %>



<!-- <a href="reservas"><img src="../images/photo_1.jpg" alt="" id='S001'></a>
<a href="reservas"><img src="../images/photo_2.jpg" alt="" id='S002'></a>
<a href="reservas"><img src="../images/photo_3.jpg" alt="" id='S003'></a>
<a href="reservas"><img src="../images/photo_4.jpg" alt="" id='S004'></a>
<a href="reservas"><img src="../images/photo_5.jpg" alt="" id='S005'></a>
<a href="reservas"><img src="../images/photo_6.jpg" alt="" id='S006'></a>
<a href="reservas"><img src="../images/photo_7.jpg" alt="" id='S007'></a>
<a href="reservas"><img src="../images/photo_8.jpg" alt="" id='S008'></a> -->