<%- include("partials/header.ejs") %>

<div class="container">


<div class="formulario">
<h3>RESERVAR QUARTO</h3>

</div>

<div class="quartos">
<section>
    <img src="../images/photo_1.jpg">
    <label for="">SUÍTE PLAZA R$ 240,00/noite</label>
    <br><br>
    <img src="../images/photo_2.jpg">
    <label for="">SUÍTE MASTER R$ 220,00/noite</label>

</section>

<section>
    <img src="../images/photo_3.jpg">
    <label for="">SUÍTE ROMA R$ 280,00/noite</label>
    <br><br>
    <img src="../images/photo_4.jpg">
    <label for="">SUÍTE GOLD R$ 340,00/noite</label>

</section>

<section>
    <img src="../images/photo_5.jpg">
    <label for="">SUÍTE OMEGA R$ 200,00/noite</label>
    <br><br>
    <img src="../images/photo_6.jpg">
    <label for="">SUÍTE ROYAL R$ 320,00/noite</label>

</section>

<section>
    <img src="../images/photo_7.jpg">
    <label for="">SUÍTE GARDEN R$ 180,00/noite</label>
    <br><br>
    <img src="../images/photo_8.jpg">
    <label for="">SUÍTE SILVER R$ 250,00/noite</label>

</section>
</div>
</div>


<%- include("partials/footer.ejs") %>



