<%- include("partials/header.ejs") %>


<div class="booking">

<section class="title">
    <h2>Escolha as datas</h2>
</section>

<section class="dates">
    <p>Data de entrada:  <input type="text" id="check_in" /></p>
    <p>Data de saída:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="check_out" /></p>
</section>

<section class="persons">
    <div><label for="">Adultos&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input type="number"></label></div>
    <div><label for="">Crianças&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input type="number"></label></div>
</section><br><br><br>
<section class="botao">
    <br><br><br>
<button>SALVAR</button>
</section>
</div>
   

    

<%- include("partials/footer.ejs") %>