<%- include("partials/header.ejs") %>

<div class="CONTAINER">
  

<div class="FORMULARIO">
    <h3>RESERVAR QUARTO</h3>

<form action="/booking", method="POST">

<br><br>
    <section class="dates">
        <div><p>Entrada<input type="date" id="entrada" name="entrada" required /></p></div>
        <div><p>Saída<input type="date" id="saída" name="saida" required /></p></div></section>

    <br><br> 

    <div class="hospedes">

        <label for="">Quantidade de hóspedes</label>
        <select class='hospedes' name='hospedes' id='hospedes' required>
        <option value="">----</option>
        <option value=1>1</option>
        <option value=2>2</option>
        <option value=3>3</option>
        <option value=4>4</option></select>
   </div>

   <br><br> 
   
    <div class="suites">
        <label for="">Escolha uma suíte &nbsp&nbsp&nbsp</label>
        <select class='suites' name='suites' id='suites' required>
        <option value="">----</option>
        <option value="PLAZA">PLAZA</option>
        <option value="MASTER">MASTER</option>
        <option value="ROMA">ROMA</option>
        <option value="GOLD">GOLD</option>
        <option value="OMEGA">OMEGA</option>
        <option value="ROYAL">ROYAL</option>
        <option value="GARDEN">GARDEN</option>
        <option value="SILVER">SILVER</option></select>
   </div>

   <br><br>

  
<div class="nomes">

<input type="text" name="hospede1" id="hospede1" placeholder="titular da reserva"><br><br>
<input type="text" name="hospede2" id="hospede2" placeholder="hospede 2"><br><br>
<input type="text" name="hospede3" id="hospede3" placeholder="hospede 3"><br><br>
<input type="text" name="hospede4" id="hospede4" placeholder="hospede 4"><br><br>

</div>

<section class="botao">
  <br>
<button>RESERVAR QUARTO</button>

</section>

</form>
</div> <!--FECHA FORMULARIO-->




<div class="quartos">
<section>
    <img src="../images/photo_1.jpg">
    <label for="">SUÍTE PLAZA R$ 240,00/noite</label>
    <br><br>
    <img src="../images/photo_2.jpg">
    <label for="">SUÍTE MASTER R$ 220,00/noite</label>

</section>

<section>
    <img src="../images/photo_3.jpg">
    <label for="">SUÍTE ROMA R$ 280,00/noite</label>
    <br><br>
    <img src="../images/photo_4.jpg">
    <label for="">SUÍTE GOLD R$ 340,00/noite</label>

</section>

<section>
    <img src="../images/photo_5.jpg">
    <label for="">SUÍTE OMEGA R$ 200,00/noite</label>
    <br><br>
    <img src="../images/photo_6.jpg">
    <label for="">SUÍTE ROYAL R$ 320,00/noite</label>

</section>

<section>
    <img src="../images/photo_7.jpg">
    <label for="">SUÍTE GARDEN R$ 180,00/noite</label>
    <br><br>
    <img src="../images/photo_8.jpg">
    <label for="">SUÍTE SILVER R$ 250,00/noite</label>

</section>
</div> <!--FECHA QUARTOS-->
</div> <!--FECHA CONTAINER-->


<%- include("partials/footer.ejs") %>



