<%- include("partials/header.ejs") %>

<div class="container">
<div class="dados_da_reserva">

<section class="title">
    <h2>DADOS DA RESERVA</h2>
</section>

<section class="dates">
    <p>CHECK-IN<input type="date" id="check_in" required /></p>
    <p>CHECK-OUT<input type="date" id="check_out" required /></p>
</section>
<br><br>
<section class="persons">
    <div>
        <label for="">nº de hóspedes</label>
        <select class='hospedes' name='hospedes' id='hospedes' required>
        <option value="">----</option>
        <option value=1>1</option>
        <option value=2>2</option>
        <option value=3>3</option>
        <option value=4>4</option>
        <option value=5>5</option>
        </select>
   </div>
   <br><br>
    <div>
        <label for="">código da suíte</label>
        <select class='suites' name='suites' id='suites' required>
        <option value="">----</option>
        <option value="PLAZA">PLAZA</option>
        <option value="MASTER">MASTER</option>
        <option value="ROMA">ROMA</option>
        <option value="GOLD">GOLD</option>
        <option value="OMEGA">OMEGA</option>
        <option value="ROYAL">ROYAL</option>
        <option value="GARDEN">GARDEN</option>
        <option value="SILVER">SILVER</option>
        </select>
   </div>

</section><br><br><br>
<section class="botao">
    <br><br><br>
<button>FINALIZAR RESERVA</button>

</section>
</div>



<div class="quartos">
<section>
    <img src="../images/photo_1.jpg">
    <label for="">SUÍTE PLAZA</label>
    <br><br>
    <img src="../images/photo_2.jpg">
    <label for="">SUÍTE MASTER</label>

</section>

<section>
    <img src="../images/photo_3.jpg">
    <label for="">SUÍTE ROMA</label>
    <br><br>
    <img src="../images/photo_4.jpg">
    <label for="">SUÍTE GOLD</label>

</section>

<section>
    <img src="../images/photo_5.jpg">
    <label for="">SUÍTE OMEGA</label>
    <br><br>
    <img src="../images/photo_6.jpg">
    <label for="">SUÍTE ROYAL</label>

</section>

<section>
    <img src="../images/photo_7.jpg">
    <label for="">SUÍTE GARDEN</label>
    <br><br>
    <img src="../images/photo_8.jpg">
    <label for="">SUÍTE SILVER</label>

</section>

</div>





</div>  

<%- include("partials/footer.ejs") %>



