<%- include("partials/header.ejs") %>
<div class="formulario">

<h1>PÁGINA DE RESERVAS EM CONSTRUÇÃO</h1>
<h1>PÁGINA DE RESERVAS EM CONSTRUÇÃO</h1>
<h1>PÁGINA DE RESERVAS EM CONSTRUÇÃO</h1>
<h1>PÁGINA DE RESERVAS EM CONSTRUÇÃO</h1>
<h1>PÁGINA DE RESERVAS EM CONSTRUÇÃO</h1>
<h1>PÁGINA DE RESERVAS EM CONSTRUÇÃO</h1>


</div>

<%- include("partials/footer.ejs") %>