<%- include("partials/header.ejs") %>
<div class="tela">
<div class = 'tabela'>

    <table border="1px" cellpadding = '5px' cellspacing = '1' id="table">

<caption>Dados da Reserva</caption>

<tbody>

    <tr>
        <td  colspan="2">
        <p>Lorem ipsum dolor, sit amet consectetur </p>
        </td>

    </tr>
        <tr>
            <th>Titular da Reserva</th>
            <td>26</td>
        
        </tr>

        <tr>
            <th>Código da Reserva</th>
            <td>26</td>
        
        </tr>

        <tr>
            <th>Entrada</th>
            <td>Idade</td>
        </tr>

        <tr>
            <th>Saída</th>
            <td>22</td>
        </tr>

        <tr>
            <th>Nº de hóspedes</th>
            <td>26</td>
        </tr>

        <tr>
            <th>Hóspede 2</th>
            <td>26</td>
        </tr>

        <tr>
            <th>Hóspede 3</th>
            <td>26</td>
        
        </tr>

        <tr>
            <th>Hóspede 4</th>
            <td>26</td>
        
        </tr>

        <tr>
            <th>Valor total da reserva</th>
            <td>26</td>
        
        </tr>

        <tr>
            <td  colspan="2">
             
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error, sint, placeat corporis accusamus excepturi eveniet in provident cumque voluptatum sapiente quae consequuntur odit! Suscipit nesciunt temporibus rerum quae aut maiores?</p>
            </td>

        </tr>
    </tbody>

    </table>
</div>
</div>





<%- include("partials/footer.ejs") %>