<%- include("partials/header.ejs") %>

<!-- <script src="../../controllers/bookingController.js"></script> -->
<div class="tela">
<div class = 'tabela'>

    <table border="1px" cellpadding = '5px' cellspacing = '0.5' id="table">

<caption>Dados da Reserva</caption>

<tbody>


<ul>

    
</ul>

    <tr>
        <td  colspan="2">
        <p>consulte os dados de sua reserva, e em caso de desconformidade, entre em contato para eventuais correções </p>
        </td>

    </tr>
        <tr>
            <th>Titular da Reserva</th>
            <td></td>
        
        </tr>

        <tr>
            <th>Código da Reserva</th>
            <td></td>
        
        </tr>

        <tr>
            <th>Entrada</th>
            <td></td>
        </tr>

        <tr>
            <th>Saída</th>
            <td></td>
        </tr>

        <tr>
            <th>Nº de hóspedes</th>
            <td></td>
        </tr>

        <tr>
            <th>Hóspede 2</th>
            <td></td>
        </tr>

        <tr>
            <th>Hóspede 3</th>
            <td></td>
        
        </tr>

        <tr>
            <th>Hóspede 4</th>
            <td></td>
        
        </tr>

        <tr>
            <th>Total R$</th>
            <td></td>
        
        </tr>

        <tr>
            <td  colspan="2">
             
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error, sint, placeat corporis accusamus excepturi eveniet in provident cumque voluptatum sapiente quae consequuntur odit! Suscipit nesciunt temporibus rerum quae aut maiores?</p>
            </td>

        </tr>

  
    </tbody>

    </table>
</div>
</div>





<%- include("partials/footer.ejs") %>