<%- include("partials/header.ejs") %>

<main>
<link rel="stylesheet" href="../stylesheets/suites.css">
<section class="header">
    <h2>Suítes</h2>
</section>

<section class= "detalhes">

    <div class= "parag">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro perferendis quis quasi enim, iure blanditiis officiis, quidem assumenda fuga non natus in quibusdam corrupti qui voluptate totam exercitationem fugiat architecto.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro perferendis quis quasi enim, iure blanditiis officiis, quidem assumenda fuga non natus in quibusdam corrupti qui voluptate totam exercitationem fugiat architecto.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro perferendis quis quasi enim, iure blanditiis officiis, quidem assumenda fuga non natus in quibusdam corrupti qui voluptate totam exercitationem fugiat architecto.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro perferendis quis quasi enim, iure blanditiis officiis, quidem assumenda fuga non natus in quibusdam corrupti qui voluptate totam exercitationem fugiat architecto.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro perferendis quis quasi enim, iure blanditiis officiis, quidem assumenda fuga non natus in quibusdam corrupti qui voluptate totam exercitationem fugiat architecto.</p>
        
    </div>
   
<div class="rooms"><img src="../images/rooms.png" alt=""></div>


<div class="devices">

<div class="tv">
<img src="../images/tv.png" alt="">
<h6>TV Tela Plana</h6>

</div>
<div class="ar">
    <img src="../images/frozen.png" alt="">
<h6>Ar Condicionado</h6>
</div>

<div class="frigobar">
    <img src="../images/frigobar.png" alt="">
<h6>Frigobar</h6>
</div>

<div class="cofre">
    <img src="../images/cofre.png" alt="">
<h6>Cofre do hotel</h6>
</div>

<div class="wi-fi">
    <img src="../images/wi-fi.png" alt="">
<h6>Wi-Fi</h6>
</div>
<div class="servico">
    <img src="../images/garcon.png" alt="">
<h6>Serviço de quarto</h6>
</div>
<div class="aquecimento">
    <img src="../images/warm.png" alt="">
<h6>Aquecimento</h6>
</div>
</div>
</section>

<section class="fotos">

<img src="../images/photo_1.jpg" alt="">
<img src="../images/photo_2.jpg" alt="">
<img src="../images/photo_3.jpg" alt="">
<img src="../images/photo_4.jpg" alt="">
<img src="../images/photo_5.jpg" alt="">
<img src="../images/photo_6.jpg" alt="">
<img src="../images/photo_7.jpg" alt="">
<img src="../images/photo_8.jpg" alt="">



</section>
    </main>
<%- include("partials/footer.ejs") %>
