<%- include("partials/header.ejs") %>

<main>
<section class="header">
    <h2>Suítes</h2>
</section>

<section class= "detalhes">

    <div class= "parag">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro perferendis quis quasi enim, iure blanditiis officiis, quidem assumenda fuga non natus in quibusdam corrupti qui voluptate totam exercitationem fugiat architecto.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro perferendis quis quasi enim, iure blanditiis officiis, quidem assumenda fuga non natus in quibusdam corrupti qui voluptate totam exercitationem fugiat architecto.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro perferendis quis quasi enim, iure blanditiis officiis, quidem assumenda fuga non natus in quibusdam corrupti qui voluptate totam exercitationem fugiat architecto.</p>
        
        
    </div>
   
<div class="rooms"><img src="../images/rooms.png" alt=""></div>


<div class="devices">

<div class="tv">
<img src="../images/tv.png" alt="">
<h5>TV Tela Plana</h4>

</div>
<div class="ar">
    <img src="../images/frozen.png" alt="">
<h5>Ar Condicionado</h5>
</div>

<div class="frigobar">
    <img src="../images/frigobar.png" alt="">
<h5>Frigobar</h5>
</div>

<div class="cofre">
    <img src="../images/cofre.png" alt="">
<h5>Cofre do hotel</h5>
</div>

<div class="wi-fi">
    <img src="../images/wi-fi.png" alt="">
<h5>Wi-Fi</h5>
</div>
<div class="servico">
    <img src="../images/garcon.png" alt="">
<h5>Serviço de quarto</h5>
</div>
<div class="aquecimento">
    <img src="../images/warm.png" alt="">
<h5>Aquecimento</h5>
</div>
</div>
</section>

<section class="fotos">

    <a href="reservas"><img src="../images/photo_1.jpg" alt="" id='S001'></a>
    <a href="reservas"><img src="../images/photo_2.jpg" alt="" id='S002'></a>
    <a href="reservas"><img src="../images/photo_3.jpg" alt="" id='S003'></a>
    <a href="reservas"><img src="../images/photo_4.jpg" alt="" id='S004'></a>
    <a href="reservas"><img src="../images/photo_5.jpg" alt="" id='S005'></a>
    <a href="reservas"><img src="../images/photo_6.jpg" alt="" id='S006'></a>
    <a href="reservas"><img src="../images/photo_7.jpg" alt="" id='S007'></a>
    <a href="reservas"><img src="../images/photo_8.jpg" alt="" id='S008'></a>



</section>
    </main>
<%- include("partials/footer.ejs") %>
