body {
    display: flex;
	margin: 0;
	padding: 0;
	border: 0;  
    font-family: courier new;
    font-style: italic;
    font-size: 13px;
    background-image: url("../images/hotel-macutay.png");background-size: cover;


}
.header{
    position: absolute;
    display: flex;
    margin-left: 50vw;


}
.header a{
  text-decoration-line: none;
  color: #FFF;

}
.container {
    display:block;
    margin: auto;
    padding: 50px;
    background-color: #1E90FF30;
    width: 50vw;
    height: 80vh;
    margin-top: 10vh;
    border-style: solid;
    border-radius: 28px;
    border-width: 2px;
    border-color: #000000;
    margin-bottom: 5px; 
    text-align: center;

}
#btn1{
    border-style: hidden;
   border-radius: 28px;
   font-size: 16px;
   width: 80px;
   font-style: italic
   ;

}
.título h1{
display: flex;
width: 50vw;
margin: auto;
font-size: 35px;
justify-content: center;
}

.dropdown {
    min-width: 350px;
    min-height: 37px;
    font-style: italic;
    border-radius: 10px;
}
input {
    min-width: 400px;
    min-height: 30px;
    font-style: italic;
    border-radius: 10px;
    border-style:solid;  
}
input:focus {
    border: 31px;
    background-color: #00FFFF70;

}
.dropdown:focus {
    border: 31px;
    background-color: #00FFFF70;
}

#nascimento {
    min-width: 100px;
}


.botao {
    position: relative;
margin: auto;
    width: 30px;
}
.botao button {
    border-radius: 10px;
    width: 10vw;
    height: 5vh;
    font-weight: bold;
    font-size: 20px;
    border: none;
}

button {
    width: 150px;
    height: 160x;
    font-size: 25px;
}
.senha{
position:relative;
width: 420px;
}
.senha input {
width: 10px;
}
.dicas{
    display: inline-block;
    background-color: white;
    width: 455px;
    border-radius: 28px;
    text-align: center;
    vertical-align: center;
    height: 80px;
}
.botao checkbox {

}