*{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.banner{
    background: 
    linear-gradient(
    rgba(20, 39, 74, 0.5),
    rgba(20, 39, 74, 0.5)),
    url("../images/hotel-macutay.png") no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
}
