.container{
    display: flex;
    background-color: #20B2AA;
    height: 70vh;

}
.quartos {

    width: 80vw;
    display: flex;
    margin-top: 25px;

}
.quartos section{
    width: 20vw;
    text-align: center;
    display:block;
    vertical-align: center;
    align-items: center;
    margin: auto;
    font-weight: bold;
    margin-top: 10px;
    margin-right: 10px;
}
.quartos img{
    width: 18vw
}
.formulario{
    display: block;
    width: 20vw;
    background-color:blue;
    margin: 5px;
    border-radius: 28px;
    padding: 10px;
}
.datas{
    display: flex;
}
