.CONTAINER{
    display: flex;
    background-color: #20B2AA;
    height: 70vh;

}

.FORMULARIO{
    display: flex;
    position: relative;
    flex-direction: column;
    border-radius: 18px;
    border-style: double;
    width: 35vw;
    height: 65vh;
    padding: 0px;
    margin-top: 20px;
    /* align-items: center; */
    margin-left: 5px;
    text-align: center;
    background-color: beige;

    
}
.FORMULARIO H3{
    margin-top: 10px;
}
.dates{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 18vw;
    

}




.quartos {

    width: 80vw;
    display: flex;
    margin-top: 35px;

}
.quartos section{
    width: 20vw;
    text-align: center;
    display:block;
    vertical-align: center;
    align-items: center;
    margin: auto;
    font-weight: bold;
    margin-top: 10px;
    margin-right: 10px;
}
.quartos img{
    width: 18vw
}
.nomes{
    display: block;
    width: 18vw;
    height: 20vh;
    margin: auto;

}
.nomes input{
    width: 17vw;
    height: 2.5vh;
}
.botao {
    margin-bottom: 20px;