@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700&display=swap');


.container{
    display: flex;
    background-color: #20B2AA;
    height: 70vh;
}
.dados_da_reserva{
display: flex;
position: relative;
flex-direction: column;
border-radius: 18px;
border-style: double;
width: 35vw;
height: 65vh;
padding: 0px;
margin: 2px;
justify-content:center;
align-items: center;
margin-left: 2px;
text-align: center;
background-color: beige;


}
.title h2{

    margin-top: 5px;
}
.dates{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 18vw;
    

}
.dates p{

    width: 68%;


}


.persons{

    width: 68%;

}
.botao{
    display: block;
    width: 150px;
    height: 100px;

}
.quartos {

    width: 80vw;
    display: flex;

}
.quartos section{
    width: 20vw;
    text-align: center;
    display:block;
    vertical-align: center;
    align-items: center;
    margin: auto;
    font-weight: bold;
    margin-top: 10px;
    margin-right: 10px;
}
.quartos img{
    width: 18vw
}
.nome_dos_hospedes{
    display: block;
    flex-direction:column
}

.nome_dos_hospedes input{
width: 16vw;
margin: 0;
margin-left: -30px;


}
