.tela{

    display: flex;
    background-color: #20B2AA;
    height: 70vh;

}
.tabela{
   
    background-color: #20B2AA;
    height: 50vh;
    margin: auto;
    width: 30vw;
    margin-top: 65px;

}
caption{
    font-size: 20px;
    font-weight: bold;
}
td{
    width: 380px;
}
th{
    width: 200px;
    text-align: left;
}
