body{
  margin-left:auto;
  width: 100vw;
  overflow-x: hidden;
}

.greetings{
  display: flex;
  justify-content: center;
  margin-top:34px;
  margin-bottom: 40px;
  font-size: 40px;
  margin-left: 50px;
  margin-right: 50px; 
}

.presentation {
display: flex;
align-items: center;
font-size: 22px;
width: 800px;
margin: 0 auto;
text-align: justify;
justify-content: center;
margin-bottom: 30px;
}

.rooms{
box-sizing: border-box;
margin-left: 5px;
margin-right: 5px;
}

.box{
  position: absolute;
  background-color: #008080;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
  height: 230px;
  width: 100vw;
}